{% extends 'base.html' %}

{% block title %}Hooome{% endblock title %}


{% block body %}


<!doctype html>

  <body>
    


<main>

  <div class="container my-4 ">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/Gaming_Pic/4.jpg" class="d-block w-100 " alt="...">
            <div class="carousel-caption d-none d-md-block" 
            >
            
               </div>      
          </div>
          <div class="carousel-item">
            <img src="/static/Gaming_Pic/5.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block"
            >
           
              </div>
          </div>
          <div class="carousel-item">
            <img src="/static/Gaming_Pic/7.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block"
            
           
              </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div> 

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="row" style="
  margin: inherit;"
  >
    
    <div class="col-lg-4 ">
      <img src="/static/Gaming_Pic/moni.jpg" class="bd-placeholder-img rounded-circle " alt="..."><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text>
      <h2 class="fw-normal">Monitor</h2>
      <p>Experience immersive gameplay whenever you play your favourite gaming titles 
        with the MSI 27-inch Optix G27C4 Curved Gaming Monitor’s exceptional visual quality, high refresh rate, and curved design.</p>
      <p><a class="btn btn-secondary" href="#">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="/static/Gaming_Pic/key.jpg" class="bd-placeholder-img rounded-circle " alt="..."><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text>

      <h2 class="fw-normal">KeyBoard</h2>
      <p>With RGB lighting and impressive responsiveness, the Razer Cynosa V2
         Chroma RGB Backlit Keyboard delivers the performance you need to power through your day-to-day tasks efficiently.</p>
      <p><a class="btn btn-secondary" href="#">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="/static/Gaming_Pic/mous.jpg" class="bd-placeholder-img rounded-circle " alt="..."><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text>

      <h2 class="fw-normal">Mouse</h2>
      <p>Crafted with a sleek, minimalist design, the Logitech Pebble M350 
        Wireless Mouse is a great choice for completing your on-the-go workstation setup. 
        It also offers silent clicking and scrolling to let you work without disturbing other people around you.</p>
      <p><a class="btn btn-secondary" href="#">View details »</a></p>
    </div><!-- /.col-lg-4 -->
  </div>

   


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Monitor: <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Key Features</p>
        <ul>
          <li>Smooth and crisp visuals with minimal screen tearing, thanks to its 165Hz refresh rate and 1ms response time</li>
          <li>Full HD (1920x1080 resolution) panel with a wide colour gamut lets you enjoy playing games, viewing content, or watching movies with lifelike detail</li>
          <li>1500R curvature for enhanced immersion whenever you play</li>
          </ul>
      </div>
      <div class="col-md-5">
        
      
      <img src="/static/Gaming_Pic/Monitor_1.jpg" class="d-block w-100 " alt="...">
   
  </div>

    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">KeyBoard <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Key Features</p>
        <ul>
          <li>Utilises Razer optical switches composed of less moving parts, which operate with reduced friction, providing optimum durability and smooth, fast actuation</li>
          <li>Features N-key roll-over, built-in anti-ghosting, and a 1000Hz ultrapolling rate, offering impressive responsiveness</li>
          <li>Fully programmable keys with on-the-fly macro recording, allowing easy customisation of functions to suit your needs</li>
          <li>Razer Chroma RGB individually backlit keys can output up to 16.8 million customisable colour options for a cool lighting display</li>
          <li>Offers hybrid onboard storage, so you can save up to 5 keybinding profiles hassle-free</li>
          </ul>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/static/Gaming_Pic/Keyboard_1.jpg" class="d-block w-100 " alt="...">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">And lastly, Mouse. <span class="text-muted"></span></h2>
        <p class="lead">Key Features</p>
        <ul>
          <li>When quick movements and large swipes matter, Aerox 3’s ultra-lightweight design allows for faster and more accurate reaction times in game</li>
          <li>Rated IP54 to provided water resistance and protection from dust, dirt, oil, fur, and more. The mouse is engineered to safeguard the interior circuitry from virtually all types of environmental damage</li>
          <li>Rated for 80M clicks (3X the durability found in other gaming mice), upgraded dust and water-resistant switches provide flawless clicks even under the most demanding conditions</li>
          <li>Rated for 80M clicks (3X the durability found in other gaming mice), upgraded dust and water-resistant switches provide flawless clicks even under the most demanding conditions</li>
          <li>Designed with 100% pure PTFE to provide the smoothest swipes and enhanced control for super light mouse movements</li>
          </ul>
      </div>
      <div class="col-md-5">
        <img src="/static/Gaming_Pic/Mouse_2.jpg" class="d-block w-100 " alt="...">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <div class= "text-center">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>  &copy; 2020–2022 Best International Company </p>
  </footer>
</main>



      
  </body>
</html>
{% endblock body %}


